<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-primary top15" ui-sref="{{ admin ? 'user.adminList' : 'user.managerList' }}">Back to Users</a>
        <uib-tabset active="active" class="top30">
            <uib-tab heading="Account Info">
                <div class="top15 col-sm-10 col-sm-offset-1">
                    <table class="table table-striped table-bordered top15">

                        <tbody>
                        <tr>
                            <td>Email</td>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td>{{ user.user.firstName }}&nbsp;{{ user.user.lastName }}</td>
                        </tr>
                        <tr ng-if="user.user.mobilePhone">
                            <td>Mobile #</td>
                            <td>{{ user.user.mobilePhone }}</td>
                        </tr>
                        <tr>
                            <td>Registered On</td>
                            <td>{{ user.user.createdAt | date }}</td>
                        </tr>
                        </tbody>

                    </table>
                    <div ng-if="owner || admin">
                        <h3>Managed Venues</h3>
                        <h4 style="text-align: center" ng-hide="user.user.managedVenues.length">None</h4>
                        <table class="table table-striped table-bordered top30"
                               ng-show="user.user.managedVenues.length">
                            <thead>
                            <tr>
                                <th>Venue</th>
                                <th>Address</th>
                                <th>Remove Manager</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="venue in user.user.managedVenues">
                                <td>{{ venue.name }}</td>
                                <td>{{ addressify(venue.address) }}</td>
                                <td><button class="btn btn-sm btn-danger" ng-click="removeManagedVenue(venue)">Remove</button></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="top30">
                            <fieldset class="form-group">
                                <label for="name1" class="col-sm-2 control-label">Add Managed Venue</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="name1" name="name1"
                                               placeholder="Venue Name" ng-if="admin"
                                               ng-model="$parent.$parent.$parent.$parent.newManagedVenue"
                                               uib-typeahead="venue as venue.name + ' - ' + venue.address.street + ' ' + venue.address.city + ', ' + venue.address.state
                                                              for venue in findVenue($viewValue)"/>
                                        <input type="text" class="form-control" id="name1" name="name1"
                                               placeholder="Venue Name" ng-if="owner"
                                               ng-model="$parent.$parent.$parent.$parent.newManagedVenue"
                                               uib-typeahead="venue as venue.name + ' - ' + venue.address.street + ' ' + venue.address.city + ', ' + venue.address.state
                                                              for venue in ownedVenues | filter:$viewValue"/>
                                        <span class="input-group-btn">
                                            <button class="btn-default btn" ng-click="addManagedVenue()"
                                                    ng-disabled="!$parent.$parent.$parent.newManagedVenue">
                                                <i class="fa fa-plus fa-fw"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div ng-if="admin" class="top30">
                        <h3>Owned Venues</h3>
                        <h4 style="text-align: center" ng-hide="user.user.ownedVenues.length">None</h4>
                        <table class="table table-striped table-bordered top30" ng-show="user.user.ownedVenues.length">
                            <thead>
                            <tr>
                                <th>Venue</th>
                                <th>Address</th>
                                <th>Remove Owner</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="venue in user.user.ownedVenues">
                                <td>{{ venue.name }}</td>
                                <td>{{ addressify(venue.address) }}</td>
                                <td><button class="btn btn-sm btn-danger" ng-click="removeOwnedVenue(venue)">Remove</button></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="top30">
                            <fieldset class="form-group">
                                <label for="name2" class="col-sm-2 control-label">Add Owned Venue</label>
                                <div class="col-sm-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="name2" name="name2"
                                               placeholder="Venue Name"
                                               ng-model="$parent.$parent.$parent.newOwnedVenue"
                                               uib-typeahead="venue as venue.name + ' - ' + venue.address.street + ' ' + venue.address.city + ', ' + venue.address.state
                                                              for venue in findVenue($viewValue)"/>
                                        <span class="input-group-btn">
                                            <button class="btn-default btn" ng-click="addOwnedVenue()"
                                                    ng-disabled="!$parent.$parent.$parent.newOwnedVenue">
                                                <i class="fa fa-plus fa-fw"></i>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <br>


                    <div ng-if="admin">
                        <h3>Admin Attributes</h3>
                        <table class="table table-striped table-bordered top15">
                            <tr>

                                <td>Blocked</td>
                                <td>{{ user.user.blocked ? "YES":"NO" }}</td>
                            </tr>
                            <tr>

                                <td>Roles</td>
                                <td><span ng-repeat="t in user.user.roleTypes">{{ t }}<br></span></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Edit Account Info" ng-if="admin">
                <div class="top15 col-sm-10 col-sm-offset-1">
                    <form>
                        <fieldset class="form-group">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" id="fname" placeholder="First Name"
                                   ng-model="userUpdate.user.firstName">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control" id="lname" placeholder="Last Name"
                                   ng-model="userUpdate.user.lastName">
                        </fieldset>
                        <fieldset class="form-group">
                            <label for="mob">Mobile Number</label>
                            <input type="text" class="form-control" id="mob" placeholder="Mobile #"
                                   ng-model="userUpdate.user.mobilePhone">
                        </fieldset>
                        <button class="btn btn-default" ng-click="updateUserInfo()">Update Info</button>
                        <hr>
                        <h3>Admin Settings</h3>
                        <fieldset class="form-group">
                            <label for="adminPwd">Password</label>
                            <input type="password" class="form-control" id="adminPwd" placeholder="New Password"
                                   ng-model="user.newPwd">
                        </fieldset>
                        <button class="btn btn-default" ng-click="adminPwdChange()">Change User's Password</button>
                        <p class="top15"><strong>User Role</strong></p>
                        <div ng-repeat="role in roles">
                            <input type="checkbox" ng-model="role.selected"/>&nbsp;{{ role.roleKey}}
                        </div>
                        <button class="btn btn-default top15" ng-click="adminAuthLevelChange()">Change User Roles
                        </button>
                        <hr>
                        <p class="top15"><strong>Enable/Disable Account</strong></p>
                        <p>User is currently {{ user.user.blocked?"BLOCKED":"ENABLED" }}.</p>
                        <button type="button" class="btn"
                                ng-class="{ 'btn-primary' : user.user.blocked, 'btn-danger': !user.user.blocked}"
                                ng-model="user.user.blocked" uib-btn-checkbox ng-click="updateBlockedState()">
                            {{ user.user.blocked? "Enable User" : "Block User "}}
                        </button>
                        <hr>
                        <p class="top15"><strong>Delete Account</strong></p>
                        <button class="btn btn-danger" ng-click="deleteUser()">
                            DELETE
                        </button>
                    </form>

                </div>
            </uib-tab>
        </uib-tabset>
    </div>

</div>
