<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/dependencies/sails.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/blueline/common/css/og.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SQUARES 2.0 Control</title>
</head>
<body>
<og-app-header name="'SQUARES'"></og-app-header>
<state-banner></state-banner>
<ui-view></ui-view>
</body>
</html>