
<div ng-if="amJudge()">

	<div class="info-msg">Players: {{players.length}}</div>
	<div class="info-msg">Submitted Cards: {{roundPlayingCards.length}}</div>
	<br>
	<card ng-if="roundJudgingCard.text" text="roundJudgingCard.text" id="roundJudgingCard.id" white='false'></card>
	<button class="btn btn-danger full-width-button" ng-click="nextStage()">Go To Judging Phase</button>
</div>

<div ng-if="!amJudge()">

	<div class="info-msg">Your Judge: {{findJudge().name}}</div>
	<div class="card-container" ng-if="submittedCard.id == -1">
		<card ng-if="roundJudgingCard.text" text="roundJudgingCard.text" id="roundJudgingCard.id" white='false'></card>
		<card ng-repeat="card in player.cards.white" text="card.text" id="card.id" ng-click="confirmCardChoice(card)" white='true'></card>
	</div>
	<div class="info-msg" ng-if="submittedCard.id != -1">
		Submitted:
	</div>
	<div ng-if="submittedCard.id != -1" class="card-container">
		<card ng-if="roundJudgingCard.text" text="roundJudgingCard.text" id="roundJudgingCard.id" white='false'></card>	
		<card text="submittedCard.text" id="submittedCard.id" white='true'></card>
	</div>

</div>
