<!--

This is in a template so we don't have to `require` a bunch of images in the JS.

-->

<div class="container">
    <!-- Device is not paired with an STB -->
    <div class="row" ng-show="!$ctrl.ogSystem.isPaired">
        <div class="offset-col-1 col-sm-10" style="margin-top: 10px;">
            <p>This Ourglass system is not paired with a satellite or cable box. To control the TV through Ourglass,
                please pair this system.</p>
        </div>
    </div>
    <!-- Device is paired to an STB -->
    <div class="row" ng-show="$ctrl.ogSystem.isPaired">

        <div class="col-sm-12">
            <div class="og-secondary-tab-bar" ng-hide="$ctrl.searching">
                <a class="btn btn-default" ng-click="$ctrl.setGuideView('faves')"
                   ng-class="{ 'tabon': $ctrl.guideView == 'faves' }"> FAVORITES </a>
                <a class="btn btn-default" ng-click="$ctrl.setGuideView('all')"
                   ng-class="{ 'tabon': $ctrl.guideView == 'all' }"> ALL </a>
            </div>

            <div class="current-channel" ng-hide="$ctrl.searching">
                <station-cell now-playing="true" channel-grid="$ctrl.cappSvc.currentProgramGrid"></station-cell>
            </div>

            <form class="search-box" style="margin-bottom: -1vh;">
                <div class="form-group">
                    <input type="text" class="form-control" id="inputStationName" placeholder="Search by anything..."
                           ng-model="$ctrl.searchEntry" ng-model-options="{ debounce: 500 }" ng-change="$ctrl.filterGrid()"
                           ng-focus="$ctrl.searching=true" ng-blur="$ctrl.searching=false">
                    <button ng-if="$ctrl.searchEntry" style="width: 100%; margin-top: 1vh;" class="btn btn-info"
                            ng-click="$ctrl.clearSearch()">Clear Search
                    </button>
                </div>
            </form>

            <div class="sports-bar" ng-hide="$ctrl.searching">
                <img class="sports-logo" ng-click="$ctrl.imageSearch('Warriors')" src="images/warriors.png">
                <img class="sports-logo" ng-click="$ctrl.imageSearch('Giants')" src="images/sfgiants.png">
                <img class="sports-logo" ng-click="$ctrl.imageSearch('49ers')" src="images/49ers.png">
                <img class="sports-logo" ng-click="$ctrl.imageSearch('Raiders')" src="images/raiders.png">
                <img class="sports-logo" ng-click="$ctrl.imageSearch('Sharks')" src="images/sharks.png">
                <img class="sports-logo" ng-click="$ctrl.imageSearch('Oakland As')" src="images/oakland_as.png">
                <img class="sports-logo" ng-click="$ctrl.imageSearch('Cal')" src="images/cal.png">
                <img class="sports-logo" ng-click="$ctrl.imageSearch('SJSU')" src="images/sjsu.png">
                <img class="sports-logo" ng-click="$ctrl.imageSearch('Stanford')" src="images/stanford.png">
            </div>

            <div class="scroll-area" scroll-window window-size="30"
                 edge-callback="$ctrl.atEdge"
                 limits="$ctrl.scrollLimits">
                <div class="no-results" ng-if="!$ctrl.displayedGrid.length">{{$ctrl.noresultsMsg}}</div>

                <div id="scroller-anchor-top"></div>

                <station-cell ng-repeat="grid in $ctrl.displayedGrid track by $index"
                              channel-grid="grid" search="$ctrl.searchEntry"></station-cell>

                <div id="scroller-anchor-bottom"></div>
            </div>

        </div>

    </div>
</div>