<!-- file not in use currently-->



<div class="row">
    <div>
        <div class="top15 col-md-10 col-md-offset-1">
            <div class="">
                <table class="table table-striped top15 table-bordered">
                    <tr>
                        <td>Name</td>
                        <td ng-show="organization.name">{{organization.name}}</td>
                        <td ng-hide="organization.name">(Organization has no name)</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td><a ng-href="mailto:{{organization.email}}">{{organization.email}}</a></td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>{{organization.phone}}</td>
                    </tr>
                    <tr>
                        <td>Website URL</td>
                        <td><a ng-href="http://{{organization.websiteUrl}}">{{organization.websiteUrl}}</a></td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>{{organization.address.street}}</td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td>{{organization.address.city}}, {{organization.address.state}}
                            {{organization.address.zip}}
                        </td>
                    </tr>
                    <tr>
                    <tr>
                        <th>Venues</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="venue in organization.venues">
                        <td></td>
                        <td> <!--todo view venue instead? -->
                            <a ui-sref="venue.view({ id: venue.id })">
                                {{venue.name}}</a>
                        </td>
                    </tr>
                    <tr>
                </table>
            </div>
        </div>
    </div>
</div>