<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/dependencies/sails.io.js"></script>
    <meta charset="UTF-8">
    <title>CAH 2.0</title>
</head>
<body>
    <root-component></root-component>
</body>
</html>