$og-green: #52B85E;
$og-darkgray: #333333;
$og-lightgray: #4e4e4e;
$og-blue: #27B9EC;
$og-red: #EF4839;
$og-orange: #F69320;

/**
 <color name="OGGREEN">#52B85E</color>
    <color name="OGDARKGRAY">#333333</color>
    <color name="OGLIGHTGRAY">#4e4e4e</color>
    <color name="OGHURRICANE_BLUE">#27B9EC</color>
    <color name="OGOLDFASH_ORANGE">#F69320</color>
    <color name="OGVODKACRAN_RED">#EF4839</color>

 */