@import "../../assets/ogcolors";

.state-banner {
  width: 100vw;
  background-color: $og-lightgray;
  color: white;
  padding: 2%;
  margin-top: -5px;
  //display: flex;

  .left-ban {
    //flex-grow: 1;
    text-align: left;
    width: 20vw;
    display: inline-block;
    //border: 1px solid red;

  }

  .right-ban {
    //flex-grow: 1;
    text-align: right;
    width: 20vw;
    display: inline-block;
    //border: 1px solid red;

  }

  .center-ban {
    //flex-grow: 5;
    text-align: center;
    display: inline-block;
    width: 50vw;
    //border: 1px solid deepskyblue;

  }
}