<div class="container">
    <div class="row">
        <div class="col-md-8 col-lg-8  material-panel">
            <h1><i class="fa fa-star-o" aria-hidden="true" style="color: #999999"></i> Bellini-DM Dashboard</h1>

            <div class="col-md-5 col-lg-5  material-panel">
                <h2>Devices in the System</h2>

                <h3 ng-if="!ogdevices.length" class="text-danger">There are no devices registered</h3><br>

                <div ng-if="ogdevices.length">
                    <h3>Total Number of Devices: {{ogdevices.length}} </h3>
                        <br>
                </div>
            </div>

            <div class="col-md-5 col-lg-5  material-panel" >
                <h2>Active Devices</h2>

                <h3 ng-if="!activeDevices.length" class="text-danger">There are no devices being used</h3>

                <div ng-if="activeDevices.length">
                    <h3>Active Devices: {{activeDevices.length}} </h3>
                </div>
            </div>

            </div>
        </div>

    </div>
</div>