

@import "../../assets/styles/ogcolors";

.og-tab-bar {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
  //border: 1px solid deeppink;
  height: 8vh;
  display: flex;

  .ttab {
    width: 49vw;
    background-color: $og-green;
    color: white;
    text-align: center;
    padding: 2vh;
    font-size: 5vw;
    font-family: Poppins, Arial, SansSerif;
    font-weight: bold;
    flex-grow: 1;
    border-right: 1px solid #333333;
  }

  a {
    text-decoration: none;
  }
}

.tabon {
  border-bottom: 2px solid white;
}

.og-bottom-banner {
  width: 100%;
  padding: 5%;
  text-align: center;
  position: fixed;
  bottom: 0;
  z-index: 1000;
}

.hide-tabs {
  opacity: 0.5;
}

.hide-footer {
  opacity: 0.5;
}