<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <form name="form" role="form" ng-submit="submit()">
            <fieldset class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name"
                       ng-model="advertisement.name" required/>
            </fieldset>
            <fieldset class="form-group">
                <label for="desc">Description</label>
                <input type="text" class="form-control" id="desc"
                       ng-model="advertisement.description" required/>
            </fieldset>

            <fieldset class="form-group">
                <h2>Crawler Texts</h2>
                <p>Enter up to three scrolling text items.</p>
                <input id="c1" type="text" class="form-control" ng-model="advertisement.advert.text[0]" maxLength="80"/>
                <br><input id="c2" type="text" class="form-control" ng-model="advertisement.advert.text[1]"
                           maxLength="80"/>
                <br><input id="c3" type="text" class="form-control" ng-model="advertisement.advert.text[2]"
                           maxLength="80"/>
            </fieldset>


            <fieldset class="form-group">
                <h2>Images</h2>
                <img-input prompt="Widget" width="256" height="256" dirty="media.widget"
                           src-field="advertisement.advert.media.widget"
                           exact></img-input>
                <img-input prompt="Crawler" width="440" height="100" dirty="media.crawler"
                           src-field="advertisement.advert.media.crawler"
                           exact></img-input>
            </fieldset>

            <div class="form-actions">

                <button type="submit" ng-disabled="form.$invalid || !media.widget || !media.crawler" class="btn btn-primary top15">
                    Create
                </button>


            </div>
        </form>
    </div>
</div>