<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <uib-tabset active="active">
            <uib-tab heading="More Info">
                <div class="top15" style="padding: 20px; border: 2px solid #cacaca; border-radius: 5px;">
                    <div class="panel-body">
                        <table class="table table-striped top15">
                            <tbody>
                            <tr>
                                <td><b>Name</b></td>
                                <td></td>
                                <td>{{advertisement.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Description</b></td>
                                <td></td>
                                <td>{{advertisement.description}}</td>
                            </tr>
                            <tr>
                                <td><b>Paused</b></td>
                                <td></td>
                                <td>{{advertisement.paused}}</td>
                            </tr>


                            <tr>
                                <td><b>Reviewed</b></td>
                                <td></td>
                                <td>{{advertisement.reviewed ? "Yes" : "No"}}</td>
                            </tr>
                            <tr>
                                <td><b>Accepted</b></td>
                                <td></td>
                                <td>{{advertisement.accepted ? "Yes" : "No"}}</td>
                            </tr>


                            <tr ng-if="advertisement.advert.media">
                                <td><b>Media</b></td>
                                <td></td>
                                <td></td>

                            </tr>
                            <!--TODO small medium and large-->
                            <tr ng-repeat="size in mediaSizes" ng-if="advertisement.advert.media[size]">
                                <td></td>
                                <td><b>{{size | capitalize}}</b></td>
                                <td><a href="media/download/{{advertisement.advert.media[size]}}"><img
                                        class="media-prev"
                                        ng-src="media/download/{{advertisement.advert.media[size]}}"/></a>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Crawler Text One </b></td>
                                <td></td>
                                <td>{{advertisement.advert.text[0] || "[not used]"}}</td>
                            </tr>
                            <tr>
                                <td><b>Crawler Text Two</b></td>
                                <td></td>
                                <td>{{advertisement.advert.text[1] || "[not used]"}}</td>
                            </tr>
                            <tr>
                                <td><b>Crawler Text Three</b></td>
                                <td></td>
                                <td>{{advertisement.advert.text[2] || "[not used]"}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </uib-tab>
            <uib-tab heading="Stats">


                <div class="top15" style="padding: 20px; border: 2px solid #cacaca; border-radius: 5px;">
                    <div class="panel-body">
                        <div ng-if="!impressions.length && !impressionsLoading">
                            <h2>No Impression Data</h2>
                        </div>
                        <div class="text-center" ng-if="impressionsLoading"><br>
                            <h5>Loading...</h5>
                            <br>
                            <i class="fa fa-spinner fa-spin fa-pulse fa-fw"></i>
                        </div>
                        <div ng-if="impressions.length">
                            <div class="text-center" ng-if="impressionsLoading"><br>
                                <h5>Loading...</h5>
                                <br>
                                <i class="fa fa-spinner fa-spin fa-pulse fa-fw"></i>
                            </div>
                            <div ng-if="!impressionsLoading">

                                <div class="text-center">
                                    <h4>Total Impressions: {{impressions.length}}</h4>

                                    <h4>Total Screen Time: {{data.screenTime}} Hours</h4>
                                </div>
                                <br>
                                <div ng-if="venues.length">
                                    <div class="text-center">
                                        Impressions by Venue
                                    </div>
                                    <table class="table table-striped top15">
                                        <thead>
                                        <tr>
                                            <td><b>Venue</b></td>
                                            <td><b>Impressions</b></td>
                                            <td><b>Screen Time</b></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="l in venues">
                                            <td>{{l[0].venue.name}}</td>
                                            <td>{{l.length}}</td>
                                            <td>{{l.length }} made up Hours</td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <h4>Hourly Impressions</h4>
                                    </div>
                                    <div ng-show="loadingDaily" class="text-center">
                                        <br>
                                        <h5>Loading...</h5>
                                        <br>
                                        <i class="fa fa-spinner fa-spin fa-pulse fa-fw"></i>
                                    </div>
                                    <canvas id="bar" class="chart chart-line"
                                            chart-data="graphdata" chart-labels="labels" chart-series="series"
                                            chart-options="options">
                                    </canvas>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-6">
                                    <p class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                               ng-model="dt.daily" is-open="datePopup.daily"
                                               datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close"
                                               alt-input-formats="altInputFormats" ng-change="newDate()"/>
                                         <span class="input-group-btn">
                                      <button type="button" class="btn btn-default" ng-click="open('daily')"><i
                                              class="glyphicon glyphicon-calendar"></i></button>
                                         </span>
                                    </p>
                                </div>
                                <div class="col-md-3"></div>

                            </div>
                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <h4>Impressions Over Time</h4>
                                    </div>
                                    <div ng-show="loadingTimeSpan" class="text-center">
                                        <br>
                                        <h5>Loading...</h5>
                                        <br>
                                        <i class="fa fa-spinner fa-spin fa-pulse fa-fw"></i>
                                    </div>
                                    <canvas id="intervalbar" class="chart chart-line"
                                            chart-data="timeData" chart-labels="timeSpanLabels"
                                            chart-series="timeSeries"
                                            chart-options="options">
                                    </canvas>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-1"></div>
                                <div class="col-md-10">
                                    <div class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                               ng-model="dt.start" is-open="datePopup.start"
                                               datepicker-options="startOptions"
                                               ng-required="true" close-text="Close"
                                               alt-input-formats="altInputFormats" ng-change="newTimeSpan()"/>
                                         <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open('start')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                         </span>
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                               ng-model="dt.end" is-open="datePopup.end"
                                               datepicker-options="dateOptions"
                                               ng-required="true" close-text="Close"
                                               alt-input-formats="altInputFormats" ng-change="newTimeSpan()"/>
                                         <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="open('end')"><i
                                                    class="glyphicon glyphicon-calendar"></i></button>
                                         </span>
                                    </div>

                                </div>
                                <div class="col-md-1"></div>


                            </div>

                            <button ng-click="exportExcel()" class="btn btn-success top15">Export to Excel</button>
                        </div>

                    </div>
                </div>


            </uib-tab>
            <uib-tab heading="Edit Sponsorship"> <!--TODO only show if user can edit advertisment (which roles??) -->
                <div class="top15" style="padding: 20px; border: 2px solid #cacaca; border-radius: 5px;">
                    <div class="panel-body">
                        <form name="form" ng-submit="update()" role="form">
                            <fieldset class="form-group">
                                <label for="name">Name</label>
                                <input type="text" class="form-control" id="name"
                                       ng-model="advertisementUpdate.name" required/>
                            </fieldset>
                            <fieldset class="form-group">
                                <label for="desc">Description</label>
                                <input type="text" class="form-control" id="desc"
                                       ng-model="advertisementUpdate.description"/>
                            </fieldset>

                            <fieldset class="form-group">
                                <h2>Crawler Texts</h2>
                                <p>Enter up to three scrolling text items.</p>
                                <input id="c1" type="text" class="form-control"
                                       ng-model="advertisementUpdate.advert.text[0]"
                                       maxLength="80"/>
                                <br><input id="c2" type="text" class="form-control"
                                           ng-model="advertisementUpdate.advert.text[1]" maxLength="80"/>
                                <br><input id="c3" type="text" class="form-control"
                                           ng-model="advertisementUpdate.advert.text[2]" maxLength="80"/>
                            </fieldset>

                            <fieldset class="form-group">
                                <h2>Images</h2>
                                <img-input prompt="Widget" width="256" height="256" dirty="media.widget"
                                           src-field="advertisementUpdate.advert.media.widget" exact></img-input>
                                <img-input prompt="Crawler" width="440" height="100" dirty="media.crawler"
                                           src-field="advertisementUpdate.advert.media.crawler" exact></img-input>
                            </fieldset>
                            <div class="form-actions">

                                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary top15">
                                    Update
                                </button>
                                <a ng-click="delete()" class="btn btn-danger top15 pull-right" style="margin-left:10px">
                                    Delete
                                </a>
                                <a ng-click="pause()" class="btn btn-warning top15 pull-right" style="margin-left:10px">
                                    <span class="glyphicon"
                                          ng-class="{'glyphicon-play': advertisement.paused, 'glyphicon-pause': !advertisement.paused}"></span>{{advertisement.paused
                                    ? "Resume" : "Pause"}}
                                </a>


                            </div>
                        </form>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>

    </div>
</div>