<div class="container">

    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-lg btn-success" style="width: 100%;" ui-sref="add">
                <span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add Party
            </a>
        </div>

    </div>

    <div style="display: flex; font-size: 2rem; margin-top: 12px;">
        <div style="flex: 1;"></div>
        <div style="flex: 2; text-align: center;" ng-click="swapDataLocation()">
            <span class="glyphicon" ng-class="venueData?'glyphicon-check':'glyphicon-unchecked'"></span><span>&nbsp;&nbsp;SYNC WITH DEVICES</span>
        </div>
        <div style="flex: 1;"></div>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top: 10px;">
            <party-cell ng-if="!venueData" ng-repeat="party in deviceParties track by $index" party="party"></party-cell>
            <party-cell ng-if="venueData" ng-repeat="party in venueParties track by $index" party="party"></party-cell>
            <!-- <p ng-if="((venueData ? !venueParties : !deviceParties) || (venueData ? !venueParties.length : !deviceParties.length))"  style="text-align: center;">There is currently no waiting list.</p> -->
            <p ng-if="venueData && (!venueParties || !venueParties.length) &&  !ui.firstLoad"  style="text-align: center;">There is currently no waiting list for the venue.</p>
            <p ng-if="!venueData && (!deviceParties || !deviceParties.length) && !ui.firstLoad"  style="text-align: center;">There is currently no waiting list for the device.</p>
            <p ng-if="ui.firstLoad" style="text-align: center;">Checking for updates to list.</p>

        </div>
    </div>

</div>