<style>
    .angular-google-map-container {
        height: 450px;
    }
</style>

<div class="top15 sidepad10" ng-init="showMap = true">

    <!--<a ui-sref="{{ admin ? 'venue.adminEdit({id: venue.id})' : 'venue.edit({id: venue.id})'}}"-->
    <!--class="btn btn-primary pull-right">Edit</a>-->

    <!--<a ng-click="showMap = !showMap;" class="btn btn-primary" style="margin-bottom: 15px" ng-init="showMap = true">-->
    <!--{{!showMap ? "Show" : "Hide"}} Map-->
    <!--</a>-->

    <div uib-collapse="!showMap">
        <ui-gmap-google-map center="map.center" zoom="map.zoom">
            <ui-gmap-marker idKey="map.markerId" coords="map.marker">
                <ui-gmap-window show="true">
                    <div style="text-align: center">
                        <h3>{{ venue.name }}</h3>
                        <p style="font-size: 14px">{{ map.address }}</p>
                    </div>
                </ui-gmap-window>
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

    <h3>UUID</h3><p>{{ venue.uuid }}</p>
    <h3>Devices</h3>

    <p ng-if="!venue.devices.length">No Devices for this Venue</p>
    <table class="table table-striped top15" ng-show="venue.devices.length">
        <thead>
        <tr>
            <td>Name</td>
            <td>Location in Venue</td>
            <td></td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="device in venue.devices">
            <td>{{device.name}}</td>
            <td>{{device.locationWithinVenue}}</td>
            <td width="10%"><a
                    ui-sref="{{admin ? 'device.adminManage({id: device.id})' : 'device.ownerManage({id: device.id})'}}"
                    class="btn btn-sm btn-warning">More
                Info</a></td>
        </tr>
        </tbody>
    </table>

</div> 