<div class="row" id="top">
    <div class="col-sm-10 col-sm-offset-1 top30">

        <a class="btn btn-primary" ui-sref="bestposition.list">Back</a>
        <div class="row">
            <div class="col-sm-4">
                <h3> Widget Position </h3>
                <select class="form-control" ng-model="model.adPosition" ng-options="position for position in adPositions">
                </select>
            </div>

            <div class="col-sm-4">
                <h3> Crawler Position </h3>
                <select class="form-control" ng-model="model.crawlerPosition" ng-options="position for position in crawlerPositions">
                </select>
            </div>
            <div class="col-md-4">
                <h2> Screen with positions here? </h2>
            </div>
        </div>
        <br>
        <div class="row" ng-hide="updating.active">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center" ng-hide="updating.active">
                <button class="btn btn-success" ng-click="update()">UPDATE</button>
            </div>

            <div class="col-md-4"></div>
        </div>
        <div class="row" ng-show="updating.active">
            <uib-progressbar max="bestPositions.length" type="success" value="updating.count"></uib-progressbar>
        </div>
    </div>
</div>