<!DOCTYPE html>
<html ng-app="cahApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Waiting List</title>

    <meta name="viewport" content="width=device-width">

    <script src="../../../../common/bower_components/angular/angular.min.js"></script>
    <script src="../../../../common/bower_components/lodash/dist/lodash.min.js"></script>
    <!--<script src="../../../../common/js/ogAPI.js"></script>-->
    <script src="../../../../common/bower_components/angular-animate/angular-animate.js"></script>

    <script src="/js/dependencies/sails.io.js"></script>
    <script src="../../../../common/js/ogAPIBL2.js"></script>

    <script src="app/cah.module.js"></script>
    <script src="app/components/cah.controller.js"></script>
    <script src="app/components/directives/card/card.directive.js"></script>

    <link rel="stylesheet" href="app/assets/css/cah-ogstyle.css" type="text/css">
    <link rel="stylesheet" href="app/components/directives/card/card.style.css">


</head>
<body ng-controller="cahController">


    <div class="applet">
        <h1 class="apphdr">
            {{title}}
        </h1>
        <br>

        <!-- <div class="debug">
            Players: {{players.length}} Stage: {{stage}} RPC: {{roundPlayingCards}}
        </div> -->

        <!-- START -->
        <div ng-if="stage == 'start'">
            <h1 class="apphdr">
                Players: {{players.length}}
            </h1>
        </div>

        <!-- PICKING -->
        <div ng-if="stage == 'picking'">
            <div class="move-right">
                <card text="roundJudgingCard.text" cid='roundJudgingCard.id' white='false'></card>
            </div>
            <h1 class="apphdr">
                Players: {{players.length}}
            </h1>
            <h1 class='apphdr'>
                Submitted Cards: {{roundPlayingCards.length}}
            </h1>
        </div>

        <!-- JUDGING -->
        <div ng-if="stage == 'judging'">
            <div class="move-right">
                <card cardHeight="'140px'" text="roundJudgingCard.text" cid='roundJudgingCard.id' white='false'></card>
                <!-- <card cardHeight="'140px'" ng-if="showWinner" text="previousRoundJudgingCard.text" cid='previousRoundJudgingCard.id' white='false'></card> -->
            </div>
            <div class="overflow-frame" id="outer-frame">
                <div class="overflow-container" id="scroll-window">
                    <div id="card-container" style="position: relative; margin-left: 6px;" ng-style="topPos">
                        <card cardHeight="'140px'" ng-if="!showWinner" text='roundPlayingCards[rotation % roundPlayingCards.length].text' cid='roundPlayingCards[rotation % roundPlayingCards.length].id' id="{{'scroll'+$index}}" white="true"></card>
                        <card cardHeight="'140px'" ng-if="showWinner" submitted='previousWinningCard.submittedBy.text' text='previousWinningCard.text' cid='previousWinningCard.id' id="{{'scroll'+$index}}" white="true"></card>
                    </div>
                </div>
            </div>
        </div>

        <!-- END -->
        <div ng-if="stage == 'end'">
            <h1 class="apphdr">
                Winner: {{getWinner().name}} with
            </h1>
            <br>
            <div class="overflow-frame" id="outer-frame">
                <div class="overflow-container" id="scroll-window">
                    <div id="card-container" style="position: relative; margin-left: 6px;" ng-style="topPos">
                        <card cardHeight="'230px'" submitted="getWinner().name" text='getWinner().cards.black[rotation % getWinner().cards.black.length].text' cid='getWinner().cards.black[rotation % getWinner().cards.black.length].id' id="{{'scroll'+$index}}" white="false"></card>
                    </div>
                </div>
            </div>
        </div>
    </div>




</body>
</html>