<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/js/dependencies/sails.io.js"></script>
    <link rel="stylesheet" type="text/css" href="/blueline/common/css/og.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>OG Control 2</title>
</head>
<body>
<top-tabs></top-tabs>
<div class="ui-view-wrapper">
    <ui-view></ui-view>
</div>
</body>
</html>