<div class="applet">
    <h1 class="apphdr">
        {{title}}
    </h1>
    <br>
    <card text="'Example Black Card for Testing'" cid='3' white='false'></card>
    <div class="overflow-frame" id="outer-frame">
        <div class="overflow-container" id="scroll-window">
            <div id="party-container" style="position: relative;" ng-style="topPos">
                <card ng-repeat="card in cards" text='card.text' cid='card.id' id="{{'scroll'+$index}}"></card>
            </div>
        </div>
    </div>
</div>
