<!DOCTYPE html>
<html lang="en" ng-app="ogMAKBLTestControlApp">
<head>
    <meta charset="UTF-8">
    <!-- Yoink a doink a donkee do -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/js/dependencies/sails.io.js"></script>

    <script src="../../../../common/bower_components/angular/angular.min.js"></script>
    <script src="../../../../common/bower_components/lodash/dist/lodash.min.js"></script>
    <script src="../../../../common/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="../../../../common/js/uiOGMobile/uiOGMobile.js"></script>

    <!-- App Main and AngularJS Routes -->
    <script src="app/ogMAKBLTestControlApp.module.js"></script>
    <script src="../../../../common/js/ogAPIBL.js"></script>

    <!-- Controllers -->
    <script src="app/controlscreen.controller.js"></script>

    <!-- App Specific and Overridden CSS -->
    <link href="../../../../common/css/og.css" rel="stylesheet">
    <link href="assets/css/gangnamstylect.css" rel="stylesheet">




    <title>MAK BL Test Control</title>
</head>
<body ng-controller="ogMAKBLTestMainController">
<og-app-header name="MAK BL TEST"></og-app-header>
<div class="container-fluid">
    <div>
        <h1>Inbound SIO Message</h1>
        <pre>{{ inboundMsg | json }}</pre>
    </div>
    <div>
        <h1>Outbound SIO Message</h1>
        <pre>{{ outboundMsg | json }}</pre>
    </div>
    <div>
        <h1>Current Model</h1>
        <pre>{{ model | json }}</pre>
    </div>
    <button class="btn btn-success" ng-click="add(1)">Increment</button>
    <button class="btn btn-danger" ng-click="add(-1)">Decrement</button>
    <br >
    <button class="btn btn-default" style="margin-top: 5px;" ng-click="sendDeviceDM()">SEND DEVICE DM</button>
    <div class="sponsor-holder" ng-if="!hideAds">
        <og-advert type="widget" interval="10000"></og-advert>
    </div>
</div>

</body>
</html>