<div class="container">
    <h1>PATRON CONTROLLER</h1>
    <p>Placehlder placeholder placeholder</p>
    <pre>{{ user }}</pre>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-lg btn-success" style="width: 100%;" ui-sref="add">
                <span class="glyphicon glyphicon-plus-sign">&nbsp;</span>Add Party
            </a>
        </div>

    </div>




</div>
<!--<a class="btn btn-sm btn-default" style="position: fixed; bottom: 0; width: 100vw;" ui-sref="settings"><i-->
        <!--class="glyphicon glyphicon-lamp"></i>&nbsp;HOME</a>-->
