<!--steps through menu and submenu items and builds links and tabs based on json menu data-->

<li ng-repeat="menu in menus" uib-dropdown is-open="ui.{{menu.id}}">

    <!-- single link tab -->
    <a ng-if="!dropdown(menu) && hrefLink(menu.items[0])" href="{{menu.items[0].link.addr}}"
       ng-click="close()">{{menu.label}}</a>
    <a ng-if="!dropdown(menu) && !hrefLink(menu.items[0])"
       ui-sref="{{menu.items[0].link.addr}}" ng-click="close()">{{menu.label}}</a>

    <!-- dropdown tab-->
    <a ng-if="dropdown(menu)" id="{{menu.id}}" uib-dropdown-toggle
       ng-disabled="disabled" href>{{menu.label}}<b class="caret"></b>
    </a>
    <ul ng-if="dropdown(menu)" uib-dropdown-menu role="menu" aria-labelledby="{{menu.id}}">
        <li ng-repeat="option in menu.items">
            <a ng-if="!hrefLink(option)" ui-sref="{{option.link.addr}}"
               ng-click="close()">{{option.label}}</a>
            <a ng-if="hrefLink(option)" ng-href="{{option.link.addr}}"
               ng-click="close()">{{option.label}}</a>

        </li>
    </ul>

</li>