@import "../../assets/ogcolors";

.array-container {
  position: relative;
  margin: 0 auto;
  width: 100vw;
  //border: 2px solid deepskyblue;
  padding: 0 5% 0 5%;

  h1 {
    font-size: 2rem;
    margin-top: 0;
    text-align: center;
    color: $og-orange;
  }

}

.aholder {
  display: flex;
  width: 100%;
  margin-bottom: 2%;

  .cardicon {
    flex-grow: 1;
    max-width: 28px;
  }

  .aprompt {
    flex-grow: 5;
    text-align: left;
  }



}

.winner {
  font-size: 2rem;
  color: $og-green;
  transition: all 2s;
}

.loser {
  opacity: 0.25;
  transition: all 2s;
}