<div ng-if="amJudge()">
	<div class="card-container">
		<card text='roundJudgingCard.text' id='roundJudgingCard.id' white='false'></card>
		<card ng-repeat="card in roundPlayingCards" text='card.text' id='card.id' ng-click='confirmChoice(card)' white='true'></card>
	</div>
</div>

<div ng-if="!amJudge()">
	<div class="info-msg">Your Judge: {{findJudge().name}}</div>
	<div class="info-msg">Current Entry:</div>
	<div class="card-container">
		<card text='roundJudgingCard.text' id='roundJudgingCard.id' white='false'></card>
		<card text="findPlayedCard().text" id="findPlayedCard().id" white='true'></card>
	</div>

</div>