<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row" ng-show="ui.isPaired">
                <button style="width: 100%; margin: 10px 5px 10px 5px;" class="btn btn-info"
                        ng-click="meplay()"><span class="glyphicon glyphicon-headphones"></span>&nbsp;LISTEN
                </button>
            </div>
            <h4>RUNNING</h4>
            <p class="no-apps" ng-show="runningApps.length < 1">There are no running apps.</p>
            <app-cell ng-repeat="app in runningApps | orderBy: 'displayName' track by $index" app="app" running="true"></app-cell>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <h4>AVAILABLE</h4>
            <p class="no-apps" ng-show="availableApps.length < 1">There are no avaialable apps.</p>
            <app-cell ng-repeat="app in availableApps | orderBy: 'displayName' track by $index" app="app"></app-cell>
        </div>
    </div>
</div>