<h2>Devices</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Venue</th>
        <th></th>

    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="device in devices">
        <td>{{ device.name }}</td>
        <td>{{ device.locationWithinVenue }}</td>
        <td uib-popover-template="'uiapp/app/components/admin/address-popover.template.html'"
            popover-trigger="mouseenter"
            popover-append-to-body="true"
            popover-placement="top-left">{{ device.venue.name }}
        </td>
        <td><a ui-sref="device.manageDevice({ id: device.id })" class="btn btn-sm btn-warning">EDIT</a></td>
    </tr>
    </tbody>
</table>