.ui-view-wrapper {
  margin-top: 8.6vh;
}

.scroll-area {
  height: 80vh;
  /*background-color: green;*/
  overflow-y: scroll;
}

.appholder {
  position: relative;
  top: 9vh;
  /*border: 1px solid white;*/
  width: 100vw;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

}

[ui-view].ng-enter-active {
  opacity: 1;
}